apiVersion: {{ include "deployment.apiVersion" $ }}
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    chart: "{{ .Chart.Name }}"
    app.kubernetes.io/name: "{{ .Release.Name }}"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ .Release.Name }}"
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "{{ .Release.Name }}"
    spec:
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 6 }}
{{- end }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Release.Name }}
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.fullyQualifiedURL }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        args:
{{- if .Values.gateway.enabled }}
        - "--gateway-support-enabled"
{{- end }}
{{- if .Values.networkpolicy.enabled }}
        - "--networkpolicy-support-enabled"
{{- end }}
{{ with .Values.legacyGroupVersion }}
        - "--legacy-group-version={{ . }}"
{{- end }}
{{- with .Values.annotationPrefix }}
        - "--annotation-prefix={{ . }}"
{{- end }}
        ports:
        - containerPort: 8080
        resources:
{{ toYaml .Values.resources | indent 12 }}
