replicaCount: 1
image:
  fullyQualifiedURL: ghcr.io/adevinta/ingress-allowlisting-controller:de26113a795d2b7b4f9011ebf2c68a08117b613e

pullPolicy: IfNotPresent
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

vpa:
  updateMode: "Recreate"
  containerPolicy:
    maxAllowed:
      cpu: "1"
      memory: "1Gi"
    minAllowed:
      cpu: 100m
      memory: 128M

gateway:
  enabled: false

networkpolicy:
  enabled: false

podMonitor:
  additionalLabels: {}

nodeSelector: {}

affinity: {}

tolerations: []

# legacyGroupVersion: "ipam.legacy.com/v1alpha1"
legacyGroupVersion: ""
annotationPrefix: "ipam.adevinta.com"
